@font-face {
	font-family: "MPLUSRounded1c";
	src: url("./assets/MPLUSRounded1c-Medium.ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
	transition: all 0.3s;
}

body {
	overflow: hidden;
	font-family: "MPLUSRounded1c", sans-serif;
	font-size: 2rem;
	height: 100vh;
	background-color: #e2d5ed;
	color: #7a5698;
}

#left {
	width: 80vw;
	margin: 0 15vw;
	padding-bottom: 3vw;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 75vh;
}

#right {
	display: none;
	width: 80vw;
	margin: 0 15vw;
}

#centered {
	padding: 1vh 1vw;
	margin: auto;
	text-align: center;
}

#colorInput {
	margin-bottom: 20px;
	width: 200px;
	height: 40px;
	border: 0;
	padding: 0;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.primiry-color-examples-container{
	display: flex;
	padding-top: 30px;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;

}
.primiry-color-examples{
	width: 80px;
	height: 40px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s all;
	border: 1px solid #666;
}
.primiry-color-examples:hover{
	width: 84px;
	margin-left: -2px;
	margin-right: -2px;

}

.colorBox {
	display: inline-block;
	width: 100px;
	height: 100px;
}

.harmony_content:nth-child(2) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.harmony_content:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#harmonies {
	overflow-y: scroll;
	margin-left: 5vw;
	height: 100vh;
	padding-bottom: 350px;
} 

button {
	font-family: "MPLUSRounded1c", sans-serif;
	color: #e2d5ed;
	background-color: #7a5698;
	padding: 1vh 2vw;
	cursor: pointer;
	border: 1px solid #e2d5ed;
	border-radius: 10px;
}
button:hover {
	background-color: #7a5698bb;
	transition: 500ms;
}

.btn-group button {
	float: left;
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:hover {
	background-color: #7a5698;
}

.harmony_heading {
	display: flex;
}

.harmony_heading h2 {
	margin-left: auto;
}

.harmony_heading .copyButton {
	margin-left: auto;
}

#preview {
	overflow-x: hidden;
	overflow-y: scroll;
	display: none;
	width: 80vw;
	height: 100vh;
	margin: 0 10vw;
	padding: 0;
	background-color: #e2d5ed;
	color: #7a5698;
	padding-bottom: 250px;
	justify-content: center;
}

#mainApp {
	display: flex;
	padding: 1vh 1vw;
	width: 100vw;
}

.topbar {
	display: flex;
	justify-content: space-between;
	padding: 1vh 1vw;
}

#vectorIcons {
	display: flex;
	justify-content: space-between;
	padding: 1vh 1vw;
	background-color: var(--color6);
}

.pr {
	display: flex;
	justify-content: space-between;
	margin: 2vh 0;
	padding: 1vh 1vw;
	width: 80%;
	height: 40%;
	border-radius: 20px;
}

.dd {
	height: 200px;
	width: 200px;
	background-color: --color1;
}

#top {
	display: flex;
	padding: 1vh 1vw;
	width: 100vw;
	justify-content: space-between;
	overflow: hidden;
}

.ddr {
	pointer-events: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	z-index: 2;
	width: 100vw;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.ddt {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

#btl {
	pointer-events: initial;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
	font-size: 1.5vw;
	display: none;
}

#btr {
	pointer-events: initial;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
	font-size: 1.5vw;
}

.s {
	-webkit-appearance: none;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.s::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #7a5698;
	cursor: pointer;
}

.s::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #7a5698;
	cursor: pointer;
}

#bizcard {
	background-color: var(--color3);
	color: var(--color1);
	display: flex;
	flex-direction: column;
}

#bizcard h3 {
	color: var(--color4);
}

#bizcard h4 {
	color: var(--color4);
}

#bizcard h1 {
	color: var(--color2);
}

#bizcard h2 {
	color: var(--color2);
}

#bizcard h3 {
	color: var(--color4);
}

#website {
	background-color: var(--color5);
	color: var(--color1);
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}

#website header {
	background-color: var(--color1);
	color: var(--color2);
	padding: 1vh 1vw;
}

#website nav {
	background-color: var(--color2);
	color: var(--color3);
	padding: 1vh 1vw;
	display: flex;
}

#website nav ul {
	padding: 10px;
}

#website nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
}

#website nav ul li{
	list-style-type: none;
	padding: 10px;
	display: flex;
}

#website nav ul a{
	text-decoration: none;
	color: var(--color1);
}

#website .cs2{
	color: var(--color4);
}

#slideshow{
	background: var(--color1);
	display: flex;
	flex-direction: column;
}

#slideshow h1{
	color: var(--color2);
}

#slideshow h5{
	color: var(--color6);
}

#slideshow div{
	display: flex;
}

#abstract{
	height: 400px;
	background-color: var(--color5);
	position: relative;
	overflow:hidden;
}

#abstract::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 400px;
	background-color: var(--color6);
	-webkit-transform:  skew(37deg, 0deg);
	-moz-transform:  skew(37deg, 0deg);
	-ms-transform:  skew(37deg, 0deg);
	-o-transform:  skew(37deg, 0deg);
	transform:  skew(37deg, 0deg);
}

#abstract #ab1{
	position: absolute;
	top: 0;
	left: 60%;
	width: 50%;
	height: 400px;
	background-color: var(--color4);
	-webkit-transform:  skew(-74deg, 0deg);
	-moz-transform:  skew(-74deg, 0deg);
	-ms-transform:  skew(-74deg, 0deg);
	-o-transform:  skew(-74deg, 0deg);
	transform:  skew(-74deg, 0deg);

}

#abstract #ab2{
	position: absolute;
	top: 30%;
	left: 60%;
	width: 100px;
	height: 100px;
	background-color: var(--color6);
	border-radius: 50%;
}

#abstract #ab3{
	position: absolute;
	top: 50%;
	left: 70%;
	width: 150px;
	height: 150px;
	background-color: var(--color4);
	border-radius: 50%;
}

#popup {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

#popupContent {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.xcolorbox {
	margin-top: 4vh;
	width: 4vw;
	height: 4vw;
}

.xrx {
	display: flex;
	flex-wrap: wrap;
}

.xrx div {
	flex: 0 0 33.333333%;
}

#warning {
	width: 70vw;
	margin: 0 15vw;
	height: 5vh;
}

#warningContent {
	height: 5vh;
}

#clrs > div {
	flex: 0 0 20%;
}

.fdf {
	width: 168px;
}