@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('./assets/MPLUSRounded1c-Medium.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    transition: all 0.3s;
}

body {
    overflow: hidden;
    font-family: 'MPLUSRounded1c', sans-serif;
    font-size: 2rem;
    height: 100vh;
    background-color: #E2D5ED;
    color: #7A5698;
}

#left {
    width: 100vw;
}

#right {
    display: none;
    width: 100vw;
}

#centered {
    padding: 1vh 1vw;
    margin: auto;
    text-align: center;
}

#colorInput {
    margin-bottom: 20px;
}

.colorBox {
    display: inline-block;
    width: 100px;
    height: 100px;;
}

.harmony_content:nth-child(2) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.harmony_content:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#harmonies {
    overflow-y: scroll;
    height: 100vh;
}

button {
    font-family: 'MPLUSRounded1c', sans-serif;
    color: #E2D5ED;
    background-color: #7A5698;
    padding: 10px 24px;
    cursor: pointer;
    border: 1px solid #E2D5ED;
    border-radius: 10px;
}

.btn-group button {
    float: left;
}
  
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #7A5698;
}

.harmony_heading {
    display: flex;
}

.harmony_heading h2 {
    margin-left: auto;
}

.harmony_heading .copyButton {
    margin-left: auto;
}

.preview {
    display: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #E2D5ED;
    color: #7A5698;
}

#mainApp {
    display: flex;
    padding: 1vh 1vw;
    width: 100vw;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw;
}

#vectorIcons {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw;
}

.pr {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw;
    width: 80%;
    height: 40%;
}

.dd {
    height: 200px;
    width: 200px;
}